{% extends "base.html" %}
{% block content %}
<div class="container">
  <h2>
    About page
  </h2>
  <h5>Adlist is the website which is developed by <strong>Tushar Annam</strong>. <br>
    Adlist fetches data and present it from Craigslist (stylized as craigslist) which is an American classified advertisements 
    website with sections devoted to jobs, housing, for sale, items wanted, services, community service, gigs, résumés.

  </h5>
</div>
<br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}