{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/style.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
    <h2 style="text-align: center;">Search result for: <b>{{ search | title}}</b> </h2>

    <div class="row">
        {% for post in final_postings %}
        <div class="col s4">
            <div style="overflow: hidden;" class="card">
                <div class="card-image">
                    <a href="{{post.1}}" target="_blank" rel="noopener noreferrer"><img src="{{post.3}}" width='300'
                            height='300'></a>
                    <a href="{{post.1}}" target="_blank" rel="noopener noreferrer"><span
                            class="card-title">{{post.0}}</span></a>
                </div>
                <div class="card-content">
                    <p>Price: {{post.2}}</p>
                </div>
                <div class="card-action">
                    <a href="{{post.1}}">VIEW LISTING</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock content %}
</body>

</html>