{% load static %}
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="css/style.css">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection" />

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Adlist project</title>
</head>

<body>
  <nav class="lighten-1" role="navigation">

    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo col s2"><span class="flow-text">Adlist</span></a>

      <ul class="right hide-on-med-and-down col s10">
        <li class="flow-text"><a href="{% url 'home' %}">Home</a></li>
        <li class="flow-text"><a href="{% url 'about' %}">About</a></li>
        <li class="flow-text"><a href="{% url 'contact' %}">contact</a></li>
      </ul>
    </div>

  </nav>

    {% block content %}

    {% endblock content %}

  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</body>

</html>